<mat-toolbar class="bg-primary-500 flex flex-col justify-center items-start">
    <span class="text-white text-left">Canion3D Privacy Notice</span>
</mat-toolbar>

<div class="flex flex-col px-8 py-8">
    <div class="flex flex-col h-3/4 max-h-128">
            <span class="body mt-3">
                This website is owned and operated by Canion3D. Inc. (“Canion3D”, “we”,
                “our”, or “us”). Canion3D respects the privacy of visitors to our
                website. This Notice describes the types of information we, as data
                controller, collect about visitors to the Canion3D website, how we may
                use the information, and with whom we may share it. This Notice also
                describes (1) the measures we take to safeguard the information we
                collect and (2) your rights and privileges concerning our collection,
                use and disclosure of information about you. The Company process
                personal data as a Controller as defined by the European Union’s General
                Data Protection Regulation (GDPR). Accessing this Site constitutes a use
                of the Site and an acceptance to our Privacy Policy.
            </span>
            <span class="body mt-3">
                This Notice applies to the Canion3D website, located at
                <a
                    href="https://canion3d.com"
                    class="text-blue-500 underline"
                    target="_blank"
                    >www.canion3d.com</a
                >
                and
                <a
                    href="https://cloud.canion3d.com"
                    class="text-blue-500 underline"
                    target="_blank"
                    >cloud.canion3d.com</a
                >.
            </span>
            <span class="body mt-3">
                For clarification, this Notice applies only to information collected
                through the Canion3D website and does not describe the ways in which we
                may collect or use information obtained offline or the collection, use
                and disclosure practices of any of Canion3D’s corporate affiliates or
                business partners who make our services available on their websites
                (collectively, “Affiliates”) or other third parties. For information on
                the collection, use and disclosure practices of an Affiliate or other
                third party, please review the privacy policy on the applicable party’s
                website.
            </span>
            <span class="body mt-3">
                Goods and services offered by Canion3D are not directed to individuals
                under the age of sixteen (16). Canion3D does not knowingly collect
                personal data (as defined below) from individuals under sixteen (16)
                years of age. No information should be submitted to or posted to the
                Canion3D website by visitors younger than sixteen (16) years old.
            </span>
        
            <span class="body mt-3">
                <b>Legal Basis for Collecting Personal Data</b>
            </span>
            <span class="body mt-3">
                Canion3D collects personal data on data subjects visiting its website in
                furtherance of its legitimate business interests. Further, Canion3D
                relies on consent provided by visitors to its website.
            </span>
        
            <span class="body mt-3">
                <b>Information We May Collect</b>
            </span>
            <span class="body mt-3">
                The information we may collect falls into two categories: Personal data
                and Site-Level Data. Personal data is information that we directly
                associate with a specific person or entity, which may include but not be
                limited to name, company name, industry, job title or role, state, zip
                or postal code, telephone numbers, email addresses, product interest,
                payment information (including credit card numbers or online payment
                services numbers) and financial information such as bank account
                numbers. The personal data you provide will vary based upon the context,
                and we will not collect your personal data unless you make it available.
                You are not required to provide personal data at any time while visiting
                the Canion3D website; however, you may be required to provide personal
                data to use certain Canion3D services or to purchase goods offered by
                Canion3D on its website. You may also submit personal data to us in
                other ways, such as participating in online surveys, promotions,
                contests and sweepstakes, downloading whitepapers, webinars, and other
                materials through the Canion3D website, and in connection with other
                products, services, features, or requests made available through the
                Canion3D website.
            </span>
            <span class="body mt-3">
                Site-Level Data is anonymous information regarding use of our website or
                services that is collected and/or aggregated by or on behalf of Canion3D
                through the use of automated means, which include cookies and web
                beacons. “Cookies” are small identifiers sent from a web server that are
                stored on your computer’s hard drive for the purpose of identifying your
                browser during interaction on websites or storing information or
                settings in your browser. A “web beacon,” also known as an Internet tag,
                pixel tag or clear GIF, links web pages to web servers and their cookies
                and may be used to transmit information collected through cookies back
                to a web server. Site-Level Data collected through these automated means
                may include information that we may gather and store about your visit
                to, and use of, the Canion3D website, such as your IP address, screen
                resolution, type of browser and operating system used, date and time you
                access the websites, pages you visit, and if you linked to this website
                from another website or search engine, the identity of that website or
                search engine.
            </span>
        
            <span class="body mt-3">
                In addition to the cookies and web beacons we set, we may also allow
                certain third-party analytics service providers to include cookies and
                web beacons within the pages of the Canion3D website on our behalf and
                to retain and use Site-Level Data received from such cookies and web
                beacons themselves. Third party service providers that collect
                Site-Level Data on our behalf may offer information about their data
                collection practices, and in some cases, an opt-out on their respective
                websites, which you can access here:
                <a
                    href="https://www.hostinger.com/"
                    class="text-blue-500 underline"
                    target="_blank"
                    >Hosting</a
                >;
                <a
                    href="https://www.google.com/"
                    class="text-blue-500 underline"
                    target="_blank"
                    >Google</a
                >;
                <a
                    href="https://www.adobe.com/"
                    class="text-blue-500 underline"
                    target="_blank"
                    >Adobe</a
                >.
            </span>
        
            <span class="body mt-3">
                Most web browsers automatically accept cookies, but you can usually
                modify your browser’s setting to decline cookies if you prefer. You may
                also render some web beacons unusable by rejecting their associated
                cookies. If you choose to decline cookies, certain features of the
                Canion3D website may not function properly or at all as a result.
            </span>
        
            <span class="body mt-3"
                ><b>How We May Use the Information We Collect</b></span
            >
            <span class="body mt-3">
                We may use the personal data we collect for the following purposes:
            </span>
        
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    1. &nbsp; for our everyday business purposes, such as establishing
                    and managing your customer account, providing products and services
                    you request, processing and collecting payments and providing
                    customer support;
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    2. &nbsp; to offer our products or services and/or the products or
                    services of others to you;
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    3. &nbsp; to communicate about, and administer your participation
                    in, special events, programs, surveys, contests, sweepstakes and
                    other offers or promotions;
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    4. &nbsp; to enable you to interact with Canion3D and our customers
                    through our message boards, blogs and social media;
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    5. &nbsp; to evaluate and improve our business, including developing
                    new products and services and analyzing the effectiveness of
                    products, services and website;
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    6. &nbsp; to perform data analyses, including market and consumer
                    search, trend analysis, demographic analysis and financial analysis;
                    and
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    7. &nbsp; to comply with applicable legal requirements and our
                    policies.
                </span>
            </div>
        
            <span class="mt-3 body">
                In addition, we use Site-Level Data collected through automated means
                for purposes such as:
            </span>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    1. &nbsp; customizing visits to our website based on observable user
                    preferences;
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    2. &nbsp; delivering content (including advertising) correlating to
                    our users’ interests based on the ways in which our users interact
                    with our website;
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body">
                    3. &nbsp; diagnosing technical and service problems; and
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span class=""></span>
                </span>
                <span class="body"> 4. &nbsp; administering our website. </span>
            </div>
        
            <span class="body mt-3"><b>Applications and Widgets</b></span>
            <span class="body mt-3">
                We may include applications or widgets from third parties on some pages
                of this website that allows interaction or content sharing by users.
                “Widgets” are mini-programs that provide specific services or content
                from a third party. These widgets, such as a Facebook “Share” or “Like”
                button, are visible to you on the webpage you visit. Your interaction
                with a widget typically allows the third party to collect some
                information about you through the third party’s cookies or its
                registration information. In some cases, the third party may recognize
                you through its widgets and cookies even when you do not interact with
                the widget. Please visit the third-parties’ respective privacy policy to
                better understand their data collection practices and controls they make
                available to you. The privacy policies of those third parties applies
                to, and controls, all data collection practices via interaction with
                such widgets.
            </span>
        
            <span class="body mt-3"><b>Information collected automatically</b></span>
            <span class="body mt-3">
                Usage data may be collected on this website using technology provided by
                third-party providers acting on behalf of Canion3D. The click paths of
                website users who cannot be personally identified are also collected for
                marketing and optimization purposes. The collected data is used
                exclusively by Canion3D and is never passed on to third parties. The
                collection of data is carried out in compliance with current data
                protection guidelines appropriate to the regions in which Canion3D
                operates.
            </span>
            <span class="body mt-3">
                In the European Union, any tracking program that is used not only
                ensures that no cookies are created, but it also prevents the user's
                locally stored cookies from being disclosed. The data that is collected
                by means of technology provided by any third-party providers is not used
                to personally identify the website user. This data is used to perform
                quality analysis of the website or for testing marketing activities.
            </span>
            <span class="body mt-3"><b>Information We Share</b></span>
            <span class="body mt-3">
                Canion3D may share personal data about you with other entities where
                necessary to fulfil a legitimate business purpose or to comply with
                applicable legal requirements. We may share Site-Level Data with third
                parties, including our Affiliates, dealers, marketing businesses, for
                any reason and without notice to you. We do not sell or otherwise share
                personal data except as described below:
            </span>
        
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span
                        class="h-2 w-2 bg-black border rounded-3xl inline-block"
                    ></span>
                </span>
                <span class="body">
                    <i>Affiliates.</i> Canion3D may share your personal data with its
                    Affiliates so long as the disclosure and use of your personal data
                    by such entities is consistent with this Notice.
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span
                        class="h-2 w-2 bg-black border rounded-3xl inline-block"
                    ></span>
                </span>
                <span class="body">
                    <i>Service Providers.</i> We may engage third parties to provide the
                    services offered through this website on our behalf, or other
                    services with us. In such cases, we require such providers to
                    maintain your personal data as confidential and to use the
                    information only to perform the services specified by us in a manner
                    consistent with this Notice.
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span
                        class="h-2 w-2 bg-black border rounded-3xl inline-block"
                    ></span>
                </span>
                <span class="body">
                    <i>Surveys/Sweepstakes/Promotions.</i> In the event that you
                    participate in a survey, sweepstakes, contest or other promotion on
                    the Canion3D website that is sponsored by Canion3D and a third
                    party, such participation serves as your consent for Canion3D to
                    share your personal data collected in conjunction with the survey,
                    sweepstakes, contest or promotion with the third party. After the
                    information is provided to such third parties, the subsequent use or
                    disclosure of such information is subject to those third parties’
                    privacy policies and practices.
                </span>
            </div>
            <div class="flex flex-row gap-3 ml-5 mt-3">
                <span class="">
                    <span
                        class="h-2 w-2 bg-black border rounded-3xl inline-block"
                    ></span>
                </span>
                <span class="body">
                    <i>Other.</i> We may access or disclose information, including
                    personal data, to: (i) protect or defend our interests and the legal
                    rights or property of Canion3D and our Affiliates; (ii) protect the
                    rights, interest and safety and security of users of our website or
                    members of the public; (iii) protect against fraud or for risk
                    management purposes; or (iv) comply with prudent legal practice as
                    we may determine, applicable law or legal process. In addition, if
                    we sell all or substantially all of our business or sell or transfer
                    all or a material part of our assets, or are otherwise involved in a
                    merger or transfer of all or a material part of our business, we may
                    transfer all information we have collected and stored, including
                    your personal data, to the party or parties involved in the
                    transaction as part of that transaction.
                </span>
            </div>
        
            <span class="body mt-3"><b>Retention of Information</b></span>
            <span class="body mt-3">
                Personal data will only be stored as long as necessary for the purposes
                for which it was collected, subject to local laws and regulations and
                legitimate business needs. We retain personal data for the period
                necessary to provide requested services, as needed to comply with legal
                obligations (e.g., maintaining opt-out lists to fulfill advertising
                choices or to comply mandatory record retention or legal hold
                requirements), as agreed in an individual consent, to resolve disputes,
                and to otherwise fulfill the purposes, rights and obligations outlined
                in this Privacy Notice. Retention periods can vary significantly based
                on the type of information and how it is used and our retention periods
                are based on criteria that include legally mandated retention periods,
                pending or potential litigation, our intellectual property or ownership
                rights, contract requirements, operational directives or needs, and
                historical archiving. When personal data is removed from our systems, it
                will be deleted or destroyed using appropriate security protocols so
                that it cannot be reconstructed or read.
            </span>
            <span class="body mt-3"><b>Your Rights</b></span>
            <span class="body mt-3">
                Individuals in the EU are afforded certain rights which may be subject
                to limitations and/or restrictions. These rights include the right to:
                (i) request access to and rectification or removal of their personal
                data; (ii) obtain restriction of processing or to object to processing
                of their personal data; and (iii) the right to data portability.
            </span>
            <span class="body mt-3">
                Individuals in the EU also have the right to lodge a complaint about the
                processing of their personal data with their local data protection
                authority.
            </span>
            <span class="body mt-3">
                You have the right to ask Canion3D not to process your personal data for
                marketing purposes. You can exercise your right to prevent such
                processing by informing Canion3D at any time that you do not wish to
                receive such marketing. This right may be exercised by using the
                “unsubscribe” functionality embedded in email.
            </span>
            <span class="body mt-3">
                To exercise all rights enumerated above, please use the contact
                information provided below. If you request a change to or deletion of
                your personal data, please note that Canion3D may still need to retain
                certain information for legal and internal business reasons, such as
                fraud prevention.
            </span>
            <span
                class="mt-3"
                style="background-color: yellow; width: fit-content; padding: 1rem"
            >
                <b style="text-decoration: underline; font-size: 16px"
                    >General Data Protection Regulation ("GDPR"):</b
                >
                <br />
                <span
                    >If the GDPR applies to you, you have certain data protection rights
                    and are entitled to information.</span
                ><br />
                The GDPR applies to users in the European Economic Area ("EEA"). These
                rights include: <br />*The right to request access to your data that we
                store and to have your personal data rectified or erased, <br />*The
                right to object to how we process your personal data, <br />*The right
                to request that we restrict the processing of your personal
                information,<br />
                *The right to data portability,<br />
                *The right to withdraw consent to our processing of your personal data,
                to the extent that we had relied on it to process your personal
                information,<br />
                *The right to lodge a complaint with a supervisory authority about our
                collection and use of your personal data. If you are an EEA resident,
                you can do this by contacting your local data protection regulator.
                <br /><br />The privacy policies for the data collector used through
                this website and data processors can be found here:
                <a
                    href="https://stripe.com/privacy"
                    class="text-blue-500 underline"
                    target="_blank"
                    >https://stripe.com/privacy</a
                >
                and
                <a
                    href="https://www.honeybook.com/terms/privacy"
                    target="_blank"
                    class="text-blue-500 underline"
                    >https://www.honeybook.com/terms/privacy</a
                >
                and
                <a
                    href="https://www.podia.com/privacy"
                    class="text-blue-500 underline"
                    target="_blank"
                    >https://www.podia.com/privacy</a
                >
                and
                <a
                    href="https://mailchimp.com/legal/privacy/"
                    target="_blank"
                    class="text-blue-500 underline"
                    >https://mailchimp.com/legal/privacy/</a
                >
            </span>
            <span class="body mt-3">
                <b>Your California Privacy Rights</b>
            </span>
            <span class="body mt-3">
                California Civil Code Section 1798.83 entitles California customers to
                request information concerning whether a business has disclosed personal
                data to any third parties for the third parties’ direct marketing
                purposes. As stated in this Notice, Canion3D will not sell or share your
                personal data with non- Canion3D companies for their direct marketing
                purposes without your consent.
            </span>
            <span class="body mt-3">
                <b>Access and Correction</b>
            </span>
            <span class="body mt-3">
                Subject to applicable law, (i) you may obtain a copy of certain personal
                data we maintain about you or update or correct inaccuracies in that
                information through your account on
                <a
                    href="https://canion3d.com"
                    class="text-blue-500 underline"
                    target="_blank"
                >
                    www.canion3d.com</a
                >
                or (ii) you may have the right to obtain access to personal data we
                maintain about you by contacting us via our contact page. To protect
                your privacy, we will take steps to verify your identity before granting
                you access to the information. If you believe that personal data we
                maintain about you is inaccurate, subject to applicable law, you may
                request that we correct or amend the information by contacting us as
                indicated below.
            </span>
            <span class="body mt-3">
                <b>Links</b>
            </span>
            <span class="body mt-3">
                The Canion3D website may contain links to websites or web pages not
                operated by Canion3D. Once you leave the Canion3D, we suggest that you
                review the applicable privacy policy of the third-party website, among
                other things, how they will handle any personal data they collect from
                you. We are not responsible for the content of any websites that are not
                affiliated with Canion3D, any use of those websites, or the privacy
                practices of those websites.
            </span>
            <span class="body mt-3">
                <b>Data Transfers</b>
            </span>
            <span class="body mt-3">
                We may transfer the personal data we collect about you to countries
                other than the country in which the information originally was
                collected. Those countries may not have the same data protection laws as
                the country in which you initially provided the information. When we
                transfer your information to other countries, we will protect that
                information as described in this Notice.
            </span>
            <span class="body mt-3">
                <b>Data Security</b>
            </span>
            <span class="body mt-3">
                Canion3D uses commercially reasonable administrative, technical,
                personnel, and physical security measures designed to safeguard personal
                data in our possession against loss, theft and unauthorized use,
                disclosure, or modification. Of course, despite these measures, we
                cannot guarantee perfect security of networks, servers and databases we
                operate or that are operated on our behalf.
            </span>
            <span class="body mt-3">
                <b>Disclaimer</b>
            </span>
            <span class="body mt-3">
                Although it is highly unlikely, this policy may be changed at any time
                at our discretion. If we should update this policy, we will post the
                updates to this page on our website.
            </span>
            <span class="body mt-3">
                <b>Our Information</b>
            </span>
            <span class="body mt-3"> This Website is owned and operated by </span>
            <span class="mt-2"> Canion3D Inc. </span>
            <span class="mt-2"> 50 Fountain Plaza </span>
            <span class="mt-2"> Suite 1400 </span>
            <span class="mt-2"> Buffalo, NY </span>
            <span class="mt-2"> 14202, USA </span>
            <span class="mt-2"> info@canion3d.com </span>
            <span class="body mt-3">
                <b> Effective Date </b>– This policy was last updated on Nov, 2021.
            </span>
            <button
                mat-flat-button
                color="primary"
                class="heading-4 w-1/6 mt-5 px-5 py-2 mb-5"
                (click)="onOkButton()"
            >
                OK
            </button>

            <span class="mt-3 invisible">aaa</span>
    </div>
</div>
