<mat-toolbar class="bg-primary-500 flex flex-col justify-center items-start">
    <span class="text-white text-left">Cookie Policy</span>
</mat-toolbar>

<div class="flex flex-col px-5 py-8">
    <div class="flex flex-col h-3/4 max-h-128 p-6 bg-gray-50 border overflow-y-scroll ">
        <span class="heading-3">COOKIE POLICY PURPOSE, RESPONSIBILITY AND ENFORCEMENT</span>

        <span class="body mt-3">
            <b>What Is the purpose of the Canion3D Cookie Policy? </b>
        </span>
        <span class="body mt-3">
            Canion3D uses cookies that it uses (“cookies”) to keep all websites and
            web applications which link to this policy and are published by Canion3D
            (“Sites”) reliable, secure and sufficiently personalized. When you
            accept cookies, this helps make the Site better by remembering your
            preferences, customizing content or ads, and enhancing your experience
            of our information offerings, insights and analyses.
        </span>
        <span class="body mt-3">
            This policy should be read alongside Canion3D Privacy Policy, which
            explains how Canion3D uses personal information and specifies this use
            with regard to cookies.
        </span>
        <span class="body mt-3">
            If you wish to manage your cookies, please go to the “How to manage
            cookies” section below.
        </span>

        <span class="heading-3 mt-6">WHAT ARE COOKIES?</span>
        <span class="body mt-3">
            Cookies are small text files which a website may place on your computer
            or device when you visit a site. The cookie will help the website, or
            another website, to recognize your device the next time you visit.
            Canion3D uses the term “cookies” in this policy to refer to all files
            that collect information in this way.
        </span>
        <span class="body mt-3">
            Cookies serve many functions. For example, they can help Canion3D to
            remember your username and preferences, analyze how well Canion3D sites
            are performing, or allow us to recommend content Canion3D believes will
            be most relevant to you.
        </span>
        <span class="body mt-3">
            Most websites use cookies to collect and retain personal information
            about their visitors. Most cookies collect general information, such as
            how visitors arrive at and use Canion3D’s sites, the device they are
            using, their internet protocol address (IP address), what pages they are
            viewing and their approximate location (for example, we would be able to
            recognize that you are visiting Canion3D’s sites from a specific
            geographic region). Each Cookie expires after a certain time period
            depending on what we use it for.
        </span>

        <span class="heading-3 mt-6">CATEGORIES OF COOKIES</span>
        <span class="body mt-3">Canion3D groups its cookies into the below categories.</span>

        <span class="mt-3 body">
            <b>Strictly Necessary cookies</b>
        </span>
        <span class="mt-3 body">
            Some cookies are essential or strictly necessary for the correct or
            secure operation of our Sites. For example, Canion3D uses cookies to
            authenticate you when you log on to a Site, authentication cookies are
            set which let Canion3D know who you are during a browsing session, so
            the Site maintains your log in status between pages. Strictly Necessary
            cookies further include cookies that pursue the following purposes:
        </span>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                Authentication and Access – On certain sites we use cookies to
                identify subscribers and ensure access to sites under subscribed
                services only. They use to cookies also to know who you are during a
                browsing session, so the Site maintains your log-in status between
                pages.
            </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                Billing – On certain Sites subscription services require the
                registration of individuals. Here we use cookies for the purposes of
                measuring activity and billing.
            </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                Fraud prevention – we use cookies to monitor and prevent suspicious
                activity and fraudulent traffic.
            </span>
        </div>

        <span class="mt-3 body">
            <b>Performance cookies </b>
        </span>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                Performance – We use these cookies to monitor Site performance. This
                allows us to provide a high-quality experience by quickly
                identifying and fixing any issues that arise. For example, we might
                use performance cookies to track error messages, and to determine
                improvements to our Sites
            </span>
        </div>

        <span class="mt-3 body">
            <b>Functionality cookies </b>
        </span>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                Functionality – Canion3D uses functionality cookies to allow us to
                remember your preferences (e.g. username). Functionality cookies
                improve the user experience.
            </span>
        </div>

        <span class="mt-3 body">
            <b>Targeting cookies </b>
        </span>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                Personalization – We use cookies to improve your experience of our
                products, services and solution by sometimes personalizing our
                Sites. For example, we help you to find new content and recommend
                email alerts based on the topics you read. (Only) where our Sites
                have such functionality, you can manage elements of personalization
                in your registration account.
            </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                Advertising – We may use cookies to serve you with advertisements by
                our advertising partners that we believe are relevant to you and
                your interests. You may see these advertisements on our site and on
                other sites that you visit.
            </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="
                        h-2
                        w-2
                        bg-white
                        border border-white
                        rounded-3xl
                        inline-block
                    "></span>
            </span>
            <span class="body">
                These cookies do not store directly personal information but are
                based on uniquely identifying your browser and internet device.
            </span>
        </div>

        <span class="mt-3 body">
            <b>Social Media cookies </b>
        </span>
        <span class="body mt-3">
            These cookies are set by a range of social media services we have added
            to the site to enable you to share our content with your friends and
            networks. They are capable of tracking your browser across other sites
            and building up a profile of your interests. This may affect the content
            and messages you see on other websites you visit. If you do not allow
            these cookies, you may not be able to use or see these sharing tools.
        </span>

        <span class="heading-3 mt-3"> THIRD PARTY COOKIES ON OUR SITES </span>
        <span class="body mt-3">
            We also use third party cookies on our Sites that fall into the
            categories above (“third party cookies”) for the following reasons:
        </span>

        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                To help us monitor traffic on our site (like many companies, we use
                Google Analytics to do this):
            </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="
                        h-2
                        w-2
                        bg-white
                        border border-white
                        rounded-3xl
                        inline-block
                    "></span>
            </span>
            <span class="body">
                Canion3D sometimes uses cookies delivered by third parties to track
                the performance of our advertisements. For example, if you click on
                a Canion3D advertisement on a different web site and then visit our
                website, these third-party cookies remember which type of browser
                has been used for this visit. This process helps us manage and track
                the effectiveness of our marketing efforts. If you do not allow us
                to use such advertising cookies with your device this type of
                tracking will not occur.
            </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="
                        h-2
                        w-2
                        bg-white
                        border border-white
                        rounded-3xl
                        inline-block
                    "></span>
            </span>
            <span class="body">
                Canion3D also contracts with third-party advertising networks that
                may collect information about you and other information from web
                beacons on our websites, emails, and on third-party websites. These
                advertising networks follow your online activities over time by
                collecting website navigational information through automated means,
                including using cookies. They use this information to provide
                advertisements about products, services, and solutions that may be
                of interest to you. You may see these advertisements on other
                websites.
            </span>
        </div>
        <span class="body mt-3">
            This process also helps us manage and track the effectiveness of our
            marketing efforts in case the user does not allow us to use Advertising
            cookies:
        </span>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body"> to identify fraudulent or non-human traffic; </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body"> to assist with market research; </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body"> to improve site functionality; </span>
        </div>
        <div class="flex flex-row gap-3 ml-5 mt-3">
            <span class="">
                <span class="h-2 w-2 bg-black border rounded-3xl inline-block"></span>
            </span>
            <span class="body">
                to monitor compliance with our terms and conditions and copyright
                policy.
            </span>
        </div>

        <span class="heading-3 mt-3"> HOW TO MANAGE COOKIES </span>
        <span class="body mt-3">
            You can choose to have your computer warn you each time a cookie is
            being sent, or you can choose to turn off all cookies. You do this
            through your browser settings. Each browser is a little different, so
            look at your browser’s Help menu to learn the correct way to modify your
            cookies.
        </span>
        <span class="body mt-3">
            If you disable cookies, some features will be disabled. It will turn off
            some of the features that make your site experience more efficient and
            some of our services will not function properly.
        </span>

        <span class="heading-3 mt-3"> CONTACT INFORMATION </span>
        <span class="body mt-3">
            Further information about our data processing can be found in our
            Privacy Policy
        </span>
        <span class="body mt-3">
            If you have any queries regarding this Cookie Policy, please contact us
            at info@canion3d.com
        </span>

        <span class="heading-3 mt-3"> CHANGES TO THIS COOKIE POLICY </span>
        <span class="body mt-3"> This policy is effective from [Nov. 2020]. </span>
        <span class="body mt-3">
            Any changes we may make to this Cookie Policy will be posted on this
            page.
        </span>
    </div>

    <div class=" mt-3 justify-between">
        <mat-expansion-panel class="w-1/5 inline-block" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="bg-primary-500">
                <mat-panel-title>
                    <span class="text-white">Manage Cookies</span>
                </mat-panel-title>
                <mat-panel-description>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="mt-3">
                <form action="" [formGroup]="cookiesForm">
                    <canion3d-form-field [required]="true" [control]="cookiesForm.controls.acceptMandatory">
                        <canion3d-checkbox formControlName="acceptMandatory"  [items]="''">
                            <span class="ml-2 body">Accept mandatory cookies </span><span class="text-red-600">*</span>
                        </canion3d-checkbox>
                    </canion3d-form-field>

                    <div>
                        <mat-checkbox formControlName="rejectCookies" class="example-margin body" color="primary">Reject optional cookies</mat-checkbox>            
                    </div> 
                </form>
            </div>
        </mat-expansion-panel>

        <button (click)="onAcceptCookie()" mat-flat-button  class=" float-right w-1/5 body py-3 rounded-md bg-primary-500 text-white heading-5">Accept</button>
    </div>


</div>