.mat-form-field-flex > .mat-form-field-infix {
    padding: 0.4em 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-label {
    margin-top: -15px;
}
label.ng-star-inserted {
    transform: translateY(-0.59375em) scale(0.75) !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }
