<mat-toolbar class="bg-primary-500 flex flex-col justify-center items-start ">
    <span class=" text-white text-left">Reset password</span>
</mat-toolbar>

<mat-stepper linear #stepper>

    <mat-step>
        <span>Please enter the email address that you used to register, and we will send you a code to
            reset your password via Email </span>
        <form action="" [formGroup]="emailForm" (ngSubmit)="onEmailSent()" class="flex flex-col gap-6 mt-4 mb-6">

            <canion3d-form-field [label]="'Email'" [required]="true" [control]="emailForm.controls.email" [regexMessage]="regexErrors.email">
                <div class="flex flex-row gap-10">
                    <canion3d-input [style]="['bg-neutral-200', 'rounded-xl', 'w-full']" class="w-1/2" [type]="'text'"
                        formControlName="email" [placeholder]="'Email'"></canion3d-input>
                    <button mat-flat-button class="bg-primary-100 text-primary-500 w-1/4 h-12 self-center body rounded-xl">
                        {{sendEmailTextButton}}
                    </button>
                </div>
            </canion3d-form-field>
            
        </form>

        <form action="" [formGroup]="codeForm" (ngSubmit)="onCodeForm()">

            <canion3d-form-field [label]="'Code'" [required]="true" [control]="codeForm.controls.code" class="mb-6" [regexMessage]="regexErrors.numbers">
                <canion3d-input [style]="['bg-neutral-200', 'rounded-xl']" [type]="'text'" formControlName="code"
                    [placeholder]="'Code'"></canion3d-input>
            </canion3d-form-field>

            <div class="mt-6">
                <button mat-flat-button color="primary" type="submit">Continue</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <form action="" [formGroup]="changePassForm" (ngSubmit)="onChangePassword()" class="flex flex-col gap-6">
            
            <canion3d-form-field [label]="'New Password'" [required]="true" [control]="changePassForm.controls.newPassword"
                [regexMessage]="regexErrors.password">
                <canion3d-input [style]="['bg-neutral-200', 'rounded-xl']" [type]="'password'"
                    formControlName="newPassword" [placeholder]="'New password'"></canion3d-input>
            </canion3d-form-field>
            <canion3d-form-field [label]="'Confirm New Password'" [required]="true"
                [control]="changePassForm.controls.confirmPass">
                <canion3d-input [style]="['bg-neutral-200', 'rounded-xl']" [type]="'password'"
                    formControlName="confirmPass" [placeholder]="'Confirm password'"></canion3d-input>
            </canion3d-form-field>

            <div>
                <button mat-flat-button matStepperPrevious class="bg-neutral-300 h-10 body mr-8">Back</button>
                <button mat-flat-button color="primary" type="submit" class="body h-10">Submit</button>
            </div>
        </form>
    </mat-step>

</mat-stepper>